<div class="row py-4 px-lg-3 ">
    <div class="col-12">
        <h5 class="font-weight-bold mb-3 pb-2">Related Links {{include.collection}}</h5>
        <div class="row pb-2">
            <div class="col-12">
              <p class="lh-150 text-dark">Please join Sister Huda Elshazly (of Mesjid Nebawi) for
                  Qur’an Recitation and Tajweed Classes.</p>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-12">
              <p class="lh-150 text-dark">Please join Sister Huda Elshazly (of Mesjid Nebawi) for
                  Qur’an Recitation and Tajweed Classes.</p>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-12">
              <p class="lh-150 text-dark">Please join Sister Huda Elshazly (of Mesjid Nebawi) for
                  Qur’an Recitation and Tajweed Classes.</p>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-12">
              <p class="lh-150 text-dark">Please join Sister Huda Elshazly (of Mesjid Nebawi) for
                  Qur’an Recitation and Tajweed Classes.</p>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-12">
              <p class="lh-150 text-dark">Please join Sister Huda Elshazly (of Mesjid Nebawi) for
                  Qur’an Recitation and Tajweed Classes.</p>
            </div>
        </div>
    </div>
</div>
<div class="row py-4 px-lg-3 ">
    <div class="col-12">
        <h5 class="font-weight-bold mb-3 pb-2">Subscribe</h5>
        <p class="lh-150  mb-2 text-dark">Please join Sister Huda Elshazly (of Mesjid Nebawi) for
            Qur’an Recitation and Tajweed Classes.</p>
        <div class="input-group mt-4">
            <input type="text" class="form-control" placeholder="Enter your email address">
            <span class="input-group-btn">
                            <button class="btn btn-success" type="button">Submit</button>
                        </span>
        </div>
    </div>
</div>
