<div class="row py-4 px-lg-3 ">
  <h5 class="font-weight-bold mb-3">What you need to do</h5>
  <div class="row pb-3">
    <div class="col-12">
      <strong>1. Donate</strong> <a class="btn btn-sm btn-success" href="#" style="width: 100%;padding:12px;white-space: normal;">ICSD Dream Expansion</a>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-12">
      <strong>2. Organize a private fundraising dinner</strong> <br/>
      We can speak, present and fundraise on your behalf. <a class="btn btn-sm btn-success" href="#" style="width: 100%;padding:12px;white-space: normal;">Register here</a>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-12">
      <strong>3. Make private calls to friends and family.</strong><br/>
      Share the khair. <a class="btn btn-sm btn-success" href="#" style="width: 100%;padding:12px;white-space: normal;">Register here</a>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-12">
      <strong>4. Share your vision for dream expansion.</strong><br/>
      Short Video is highly recommend. We will compile and post to community. <a class="btn btn-sm btn-success" href="#" style="width: 100%;padding:12px;white-space: normal;">Share your vision here</a>
    </div>
  </div>
</div>

<div class="row py-4 px-lg-3 ">
  <h5 class="font-weight-bold mb-3 pb-2">Ways to donate</h5>
  <div class="row pb-2">
    <div class="col-12">
      <a class="lh-150" href="#">Credit/Debit Card - </a>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-12">
      <a class="lh-150" href="#">Credit Card / Debit card</a>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-12">
      <a class="lh-150" href="#">Credit Card / Debit card</a>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-12">
      <a class="lh-150" href="#">Credit Card / Debit card</a>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-12">
      <a class="lh-150" href="#">Credit Card / Debit card</a>
    </div>
  </div>
</div>


