<div class="row py-4 px-lg-3 ">
  <h5 class="font-weight-bold mb-3">What you need to do</h5>
  <div class="row pb-3">
    <div class="col-12">
      <strong>1. Donate</strong> <a href="https://goodbricksapp.com/icsd.org/cause/dream">ICSD Dream Expansion</a>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-12">
      <strong>2. Organize a private fundraising dinner</strong> <br/>
      We can speak, present and fundraise on your behalf. <a href="https://docs.google.com/forms/d/e/1FAIpQLScR6mBH_Yk0VQO6ALKGwgDLiMqpuaFfc_WNH41ZxW5FcQxa_w/viewform" >Register here</a>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-12">
      <strong>3. Make private calls to friends and family.</strong><br/>
      Share the khair. <a href="https://docs.google.com/forms/d/e/1FAIpQLScR6mBH_Yk0VQO6ALKGwgDLiMqpuaFfc_WNH41ZxW5FcQxa_w/viewform" >Register here</a>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-12">
      <strong>4. Share your dream</strong><br/>
      Write a few words or submit a video (recommend). We will compile and post to community. <a href="#" >Share your vision here</a>
    </div>
  </div>
</div>

<div class="row py-4 px-lg-3 ">
  <h5 class="font-weight-bold mb-3 pb-2">Ways to donate</h5>
  <div class="row pb-3">
    <div class="col-12">
      <strong>Credit/Debit Card - </strong><a href="#" >Donate here</a>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-12">
      <strong>PayPal (accountant@icsd.org) - </strong> <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="FK5KHHW7ZKN6G" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
      </form>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-12">
      <strong>Cash and Check</strong> <br>
      <a href="#" >Schedule a pick up</a> or Drop at office
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-12">
      <strong>Donate Stocks</strong> <br/>
      <span style="color: crimson">MAXIMUM BENEFIT TO DONOR</span>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-12">
      <strong>Employer Donation Match</strong><br/>
    </div>
  </div>
</div>
<div class="row py-4 px-lg-3 ">
  <h5 class="font-weight-bold mb-3 pb-2">Contact Us</h5>
  <div class="row pb-3">
    <div class="col-12">
      For questions, comments or feedback contact Azeem <br/><br/>
      Cell: <a href="tel:+1-858-345-7662">(858) 345-7662</a> <br/>
      Email: <a href="mailto:expansion@icsd.org">expansion@icsd.org</a>
    </div>
  </div>
</div>
