<div class="row py-4 px-lg-3 ">
  <div class="col-12">
    <h5 class="font-weight-bold mb-3">How you can contribute</h5>
    <div class="row pb-3">
      <div class="col-12">
        <strong>1. Personal Donation</strong> <a href="https://goodbricksapp.com/icsd.org/campaign/expansion"><span class="badge badge-danger">Donate here</span></a>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-12">
        <strong>2. Organize a private fundraising dinner</strong> <br/>
        We can speak, present and fundraise on your behalf. <a href="https://forms.gle/oTRps33yNPSuSckG6">Register here</a>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-12">
        <strong>3. Make private calls to friends and family.</strong><br/>
        Share the khair. <a href="https://forms.gle/oTRps33yNPSuSckG6">Register here</a>
      </div>
    </div>
    <div class="row pb-2">
      <div class="col-12">
        <strong>4. Any other suggestion to help</strong><br/>
        <a href="https://forms.gle/iyfKb4uhUjb4SaY96">Submit your suggestion here</a>
      </div>
    </div>
  </div>
</div>

<div class="row py-4 px-lg-3 ">
  <div class="col-12">
    <h5 class="font-weight-bold mb-3 pb-2">Ways to donate</h5>
    <div class="row pb-3">
      <div class="col-12">
        <strong>Credit/Debit Card - </strong><a href="https://goodbricksapp.com/icsd.org/campaign/expansion"><span class="badge badge-danger">Donate here</span></a>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-12">
        <strong>PayPal (accountant@icsd.org) - </strong>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FK5KHHW7ZKN6G&source=url"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" alt="Donate with PayPal button"/></a>
        </form>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-12">
        <strong>Cash and Check (payable to "ICSD")</strong> <br>
         Drop-off at ICSD office
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-12">
        <strong>Stocks</strong> <span class="badge badge-danger">MAXIMUM BENEFIT TO DONOR</span><br/>
        Contact us for more info.
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-12">
        <strong>Employer Matching Gifts</strong><br/>
        Contact us for more info.
      </div>
    </div>
  </div>

  <div class="row py-4 px-lg-3 ">
    <div class="col-12">
    For questions or feedback contact Azeem Memon<br/>
    Ph: <a href="tel:+1-858-345-7662">(858) 345-7662</a> <br/>
    Email: <a href="mailto:expansion@icsd.org">expansion@icsd.org</a>
  </div>
  </div>
</div>
