
<footer class="footer-large bg-dark pt-3 pb-2">
    <div class="container">
        <div class="row text-light  align-items-center">
            <div class="col-6 text-left font-smaller">
                <p>© {{ "now" | date: "%Y" }} Islamic Center Of San Diego. All Rights Reserved</p>
            </div>
            <div class="col-6 text-right font-smaller">
                <p>Developed with <i class="la la-heart text-danger"></i> by <a href="http://www.caretapps.com">caretapps</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% include templates.html %}

<script src="{{site.baseurl}}/js/vendor/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
<script src="{{site.baseurl}}/js/vendor/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/js/vendor/moment.min.js"></script>
<script src="{{site.baseurl}}/js/vendor/fullcalendar.min.js"></script>
<script src="{{site.baseurl}}/js/vendor/gcal.min.js"></script>
<script src="{{site.baseurl}}/js/offcanvas.js"></script>
<script src="{{site.baseurl}}/js/app.js"></script>
</body>
</html>
