<div id="feature-box" class="row d-flex text-center align-items-center p-3 p-lg-5 "
     style="background: linear-gradient(to right, rgba(232,243,236, .9), rgba(232,243,236, 0.9) ), url(images/icsd-musallah.jpg); background-position: center; background-size:cover">
    <!--<div id="feature-box" class="row d-flex align-items-center p-5 " style="background-image: url('images/icsd-musallah.jpg');" style="background: #E8F3EC">-->
    <div class="col-12 lh-200">
        <h2>Introduction to Islam</h2>
        <p class="lh-200 my-3 my-lg-4 font-normal">
            Join us <u>every Sunday at 1230p</u> at Islamic Center of San Diego to learn about Islam.
        </p>
        <p>
            <a class="btn btn-sm btn-dark" href="https://www.icsd.org">Learn More</a>
        </p>
    </div>
    <!--<div class="col-lg-6 lh-150">-->
    <!--</div>-->
</div>