<div class="row py-4 px-3">
    <div class="col-12">
        <h5 class="font-weight-bold mb-3 pb-2">Prayer Times</h5>
        <div class="row pb-2">
            <div class="col-6">Fajr</div>
            <div class="col-6">05:30 am</div>
        </div>
        <div class="row py-2">
            <div class="col-6">Dhuhr</div>
            <div class="col-6">01:15 pm</div>
        </div>
        <div class="row py-2">
            <div class="col-6">Asr</div>
            <div class="col-6">03:45 pm</div>
        </div>
        <div class="row py-2">
            <div class="col-6">Magrib</div>
            <div class="col-6">Sunset</div>
        </div>
        <div class="row py-2">
            <div class="col-6">Isha</div>
            <div class="col-6">07:30 pm</div>
        </div>
        <div class="row pt-2">
            <div class="col-6">Jummah</div>
            <div class="col-6">12:30 pm / 01:45 pm</div>
        </div>
    </div>
</div>
<div class="row py-4 px-3">
    <div class="col-12">
        <h5 class="font-weight-bold mb-3 pb-2">Recent Annoucements</h5>
        <div class="row pb-2">
            <div class="col-12">
              <p class="lh-150 text-dark">Please join Sister Huda Elshazly (of Mesjid Nebawi) for
                  Qur’an Recitation and Tajweed Classes.</p>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-12">
              <p class="lh-150 text-dark">Please join Sister Huda Elshazly (of Mesjid Nebawi) for
                  Qur’an Recitation and Tajweed Classes.</p>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-12">
              <p class="lh-150 text-dark">Please join Sister Huda Elshazly (of Mesjid Nebawi) for
                  Qur’an Recitation and Tajweed Classes.</p>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-12">
              <p class="lh-150 text-dark">Please join Sister Huda Elshazly (of Mesjid Nebawi) for
                  Qur’an Recitation and Tajweed Classes.</p>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-12">
              <p class="lh-150 text-dark">Please join Sister Huda Elshazly (of Mesjid Nebawi) for
                  Qur’an Recitation and Tajweed Classes.</p>
            </div>
        </div>
    </div>
</div>
<div class="row py-4 px-3">
    <div class="col-12">
        <h5 class="font-weight-bold mb-3 pb-2">Subscribe</h5>
        <p class="lh-150  mb-2 text-dark">Please join Sister Huda Elshazly (of Mesjid Nebawi) for
            Qur’an Recitation and Tajweed Classes.</p>
        <div class="input-group mt-4">
            <input type="text" class="form-control" placeholder="Enter your email address">
            <span class="input-group-btn">
                            <button class="btn btn-success" type="button">Submit</button>
                        </span>
        </div>
    </div>
</div>
<div class="row py-4 px-3">
    <div class="col-12">
        <h5 class="font-weight-bold mb-3 pb-2">Friday Khutbah (Sermon)</h5>
        <div class="video-container">
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/videoseries?list=PLb7-wnSTI_wYGCxN3pK6fhphCiXOG_hXJ"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>
