<nav class="navbar navbar-expand-lg navbar-light py-1 fixed-top bg-white">
    <div class="container px-4">
        <a class="navbar-brand" href="{{site.baseurl}}/">
            <img src="https://i.ibb.co/qnxpPYR/icsd-logo-v2.jpg" height="75" class="d-inline-block p-1" alt="" style="margin-left: -10px;">
        </a>
        <button class="navbar-toggler border-0 px-0" type="button" data-toggle="offcanvas"
                data-target="#offcanvas-collapse-menu"
                aria-controls="offcanvas-collapse-menu" aria-expanded="false" aria-label="Toggle navigation">
            <i id="offcanvas-collapse-menu-false" class="text-dark la la-bars"></i>
            <i id="offcanvas-collapse-menu-true" class="text-dark la la-close d-none"></i>
        </button>

        <div class="navbar-collapse offcanvas-collapse bg-white px-2" id="offcanvas-collapse-menu">
            <ul class="navbar-nav ml-auto px-5">
                <li class="nav-item d-lg-none ">
                    <a class="nav-link" href="{{site.baseurl}}/prayer-times">Prayer Times</a>
                </li>
                {% for item in site.data.menu %}
                    {% if item.type != 'collection' %}
                        {% assign navPage = site.nav-pages | where: "title", item.text %}
                        {% if navPage[0] %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ navPage[0].url | prepend: site.baseurl}}">{{navPage[0].title}}</a>
                        </li>
                        {% endif %}
                    {% else %}
                        {% assign navCollection = item.text | slugify %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="{{navCollection}}"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">{{item.text}}</a>
                            <div class="dropdown-menu " aria-labelledby="{{navCollection}}">
                                {% for subitem in site.[navCollection] %}
                                    <a class="dropdown-item" href="{{subitem.url | prepend: site.baseurl }}">{{subitem.title}}</a>
                                {% endfor %}
                            </div>
                            <!--<div class="dropdown-menu pb-3 " aria-labelledby="{{item.text | downcase}}">-->
                                <!--{% for subitem in item.subitems %}-->
                                    <!--<a class="dropdown-item" href="{{subitem.url}}">{{subitem.text}}</a>-->
                                <!--{% endfor %}-->
                            <!--</div>-->
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="nav-item pt-3 pt-lg-1">
                    <a class="btn btn-sm btn-success" href="/donate">Donate</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
