<div class="col-12">
    <h5 class="font-weight-bold ">Friday Khutbah (Sermon)</h5>
    <div class="mb-3 pb-2"><a class="text-danger font-weight-bold" href="/media/live">Click here for LIVE stream</a></div>
    <div class="video-container">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/videoseries?list=PLb7-wnSTI_wYGCxN3pK6fhphCiXOG_hXJ"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>
<div class="col-12">
<br/> <br/>
    <h5 class="font-weight-bold ">Beyond Islam 101</h5>
    <div class="mb-3 pb-2"><a class="text-danger font-weight-bold" href="https://m.youtube.com/channel/UCg8ka9Ag9V0CBMvHdf4qMGw/videos">Muslim Revert Education and Support </a></div>
</div>
