<script id="calender-event-template" type="text/template">
    <div href="#" class="row my-4 ">
        <div class="col-2 col-sm-1 text-calendar-event-date text-center">
            <div class="event-day">##event-day##</div>
            <div class="event-month">##event-month##</div>
        </div>
        <div class="col-10 col-sm-11 calendar-event">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1 ">##event-title##</h6>
            </div>
            <p class="lh-150 d-none d-md-block mb-2">##event-description##</p>
            <div class="row d-flex w-100 mb-2">
                <div class="col-md-4 col-12"><i class="la la-clock-o"></i> ##event-weekday##, ##event-time##
                </div>
                <div class="col-md-8 col-12"><i class="la la-map-marker"></i> ##event-location##
                </div>
            </div>
        </div>
    </div>
</script>
