{% include header.html %}
<div role="main" class="container">
    <div id="main-content" class="row">
        <div id="left-content" class="col-lg-8">
          <div id="page-title-box" class="row px-4 py-5">
            <div id="page-title" class="col-12 px-0">
              <h5 class="font-weight-bold py-0 text-center">{{page.title}}</h5>
            </div>
           </div>
          <div class="row px-4 py-5">
             <div id="page-content" class="col-12 px-0 lh-150">
               {{content}}
             </div>
          </div>
        </div>
        <div id="right-content" class=" bg-light col-lg-4 p-4">
            {% include page-sidebar.html %}
        </div>
    </div>
</div>
{% include footer.html %}


